<h1>Search Results:</h1>
<div class="row">
  <div class="col-xs-6">
    <div class="page-header">
      <h3><center>Businesses:</center></h3>
    </div>
    <%if @businesses.length>0%>
<% @businesses.each do |business| %>

  <p><center>
    <a href="/business/<%=business.id%>"><%=business.name%></a>
    </center>
  </p>
  
<% end %>
 <%else%>
 <p><center>No Businesses Found</center></p>
 <%end%>
  </div>


<div class="col-xs-6">
    <div class="page-header">
<h3><center>Orginizations:</center></h3>
</div>
<%if @orginizations.length>0%>
<% @orginizations.each do |orginization| %>

  <p><center>
    <a href="/orginization/<%=orginization.id%>"><%=orginization.name%></a>
    </center>
  </p> 
  
<% end %>
<%else%>
<p><center>No Orginization Found</center></p>
<%end%>
</div>